*{
    box-sizing: border-box;
}


body{
    margin: 0;
    background-image: url(/images/background/arkaplan.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 15px;
    /* background: rgb(77, 77, 160); */
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

#logo {
    max-width: 200px;
}

/* #logo {
    max-width: 300px;
    display: block;
    padding: 35px;
    
} */

.container {
    display: flex;
    
}

.container .content {
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin: auto;
}