*{
    box-sizing: border-box;
}


body{
    margin: 0;
    background-image: url(/images/background/arkaplan.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 15px;
    /* background: rgb(77, 77, 160); */
    color: #fff;
    
}

h4{
    text-align: center;
}

#logo {
    max-width: 200px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    pad: 20px 10px;
}

.content {
    width: 75%;
    max-width: 250px;
    object-fit: cover;
    border-radius: 10px;
}